{% extends "base.html" %}
{% block content %} 
{% load static %}










    <div id="addTodoListDiv">
        <input id="addTodoListInput" class="comment">
        <button id="addTodoListButton" class="btn-save">Añadir nueva tarea para hacer</button>
    </div>
    
    <div id="root"></div>

  





    <p>        
        <ul>
            {% for Tarea in object_list %}
            <li>
                <div>
                    {{ Tarea.titulo}}
                    {{ Tarea.descripcion }}
                </div>
            </li>
            {% empty %}
            <h4>¡No hay tareas!</h4>
            {% endfor %}
        </ul>

{% endblock %}

</html>